body { display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background: #222; }
        canvas { border: 2px solid #fff; background: #000; }


/* Garanta que o corpo da página não role no celular */
body {
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

#ui-mobile {
    display: none; 
    position: fixed;
    width: 100%;
    bottom: 30px;
    left: 0;
    z-index: 999; /* ISSO COLOCA OS BOTÕES NA FRENTE DE TUDO */
    pointer-events: auto; /* Garante que o toque seja registrado */
}

@media (max-width: 768px) {
    #ui-mobile { display: flex; justify-content: space-between; padding: 0 20px; }
}

.ctrl, #btn-start {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; /* Remove o quadrado azul ao tocar */
}