body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: #222;
}

canvas {
        border: 2px solid #fff;
        background: #000;
}


#controles-mobile {
        display: none;
        /* Escondido por padrão no PC */
        position: fixed;
        bottom: 20px;
        left: 20px;
        user-select: none;
}

@media (max-width: 768px) {
        #controles-mobile {
                display: block;
        }

        /* Mostra no celular */
}

.linha-meio {
        display: flex;
        justify-content: center;
        gap: 10px;
}

#controles-mobile button {
        width: 60px;
        height: 60px;
        font-size: 24px;
        background: rgba(255, 255, 255, 0.3);
        color: white;
        border: 2px solid white;
        border-radius: 10px;
}